body{
    background: rgb(14,13,24);
    background: linear-gradient(0deg, rgba(14,13,24,1) 0%, rgba(31,49,91,1) 63%);
   height: 100%;
  
}

.navbar {
  
    background: rgb(0,39,143);
    background: linear-gradient(90deg, rgba(0,39,143,1) 0%, rgba(9,9,121,1) 32%, rgba(0,163,196,1) 100%);
}
#navbar-toggler-icon-bg{

    background:burlywood;
}

h7{
    color:white;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #e9d7d7 !important;
    background-color: rgb(109, 108, 108) !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: rgb(199, 62, 62) !important;
}

#carouselExampleCaptions {
 padding-left: 40px;
 padding-right: 40px;
 
}

.dropdown-menu{
    dropdown-color:white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }