body{
    background: rgb(14,13,24);
    background: linear-gradient(0deg, rgba(14,13,24,1) 0%, rgba(31,49,91,1) 63%);
   height: 100%;
   overflow: hidden;
  
}

.navbar {

    background: rgb(9,109,173);
background: linear-gradient(90deg, rgba(9,109,173,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

bs-navbar-toggler-icon-bg{
  color: red;
}

h7{
    color:white;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #e9d7d7 !important;
    background-color: rgb(109, 108, 108) !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: rgb(199, 62, 62) !important;
}

#carouselExampleCaptions {
 padding-left: 40px;
 padding-right: 40px;
 
}

.dropdown-menu{
    dropdown-color:white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div.container {
    text-align: center;
  }
  
  ul.liste{
    display: inline-block;
    text-align: left;
  }

  li.over{
    padding-top: 5px;
    font-size: 14px;
    color: white;

  }
  a.blue{
    color: rgb(118, 166, 206);
    text-decoration: none;
  }
  div.cards{
    text-align: center;
  }

  div.sip{
    margin-left: 2%;
  }

  div.sip-2{
    margin-left: 2%;
  }

  div.sip-3{
   
  }
  .card {         /*my additional class name -for card*/
    margin-left: 18%;      
    margin-right: 18%;
    width: auto;
}